* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container1 {
  width: 70%;
  background-color: #08044679;
  margin: 15rem auto;
  padding-bottom: 5rem;
}

.container1 h1 {
  margin: 2rem 0;
  font-size: 6rem;
  color: white;
  text-align: center;
}

.retrybutton {
  background-color: #00BBFF;
  font-size: 3rem;
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  margin-top: 1.5rem;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 3rem;
  color: #080446;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.retrybutton:hover {
  color: #ffffff;
  background-color: #080446;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

@media (max-width: 1376px) {
  html {
    font-size: 61%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 47%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 43%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 34%;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 25%;
  }
}

@media (max-width: 290px) {
  html {
    font-size: 20%;
  }
}

body {
  background-image: url(./img/bg.gif);
  background-size: contain;
  background-attachment: fixed;
  overflow: hidden;
}

.logoutbutton {
  background-color: #00BBFF;
  font-size: 3rem;
  position: absolute;
  top: 5%;
  right: 5%;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 3rem;
  color: #080446;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.logoutbutton:hover {
  color: #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nextbutton {
  background-color: #00BBFF;
  font-size: 3rem;
  margin-top: 2rem;
  display: none;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 3rem;
  color: #080446;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.container {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  color: #00BBFF;
}

.question {
  margin-top: 5rem;
}

.question h1 {
  background-color: #080446;
  padding: 2.5rem 0;
  font-size: 5rem;
  border: 2px #00BBFF solid;
  border-radius: 5rem;
}

.question h1 span {
  text-align: left !important;
}

.options ul li {
  background-color: #080446;
  color: #bb0707;
  font-size: 3rem;
  border-radius: 3rem;
  border: 1.5px #00BBFF solid;
  list-style-type: none;
  margin: 2rem auto;
  width: 75%;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.options ul li a {
  padding: 1.5rem;
  display: block;
  font-size: 3rem;
  color: #00BBFF;
  border-radius: 3rem;
  border: 1.5px #00BBFF solid;
  text-decoration: none;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  width: 100%;
}

.options ul li:hover a {
  color: #080446;
}

.options ul li:hover {
  background-color: #00BBFF;
  cursor: pointer;
  color: #080446 !important;
}

.scorecard {
  background-color: #08044679;
  color: white;
  border: 2px solid white;
  display: inline-block;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 3rem;
}

.scorecard h1 {
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.question {
  -webkit-animation-name: movedown;
          animation-name: movedown;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#option1 {
  -webkit-animation-name: moveright;
          animation-name: moveright;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#option2 {
  -webkit-animation-name: moveleft;
          animation-name: moveleft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#option3 {
  -webkit-animation-name: moveright;
          animation-name: moveright;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#option4 {
  -webkit-animation-name: moveleft;
          animation-name: moveleft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes movedown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveright {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveright {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes moveleft {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveleft {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=questions.css.map */